body {
	background-color: var(--n-contrast-color);
	color: var(--n-base-color);
	font-family: var(--n-base-font);
}

body,
button,
input,
select,
textarea {
	font-weight: normal;
	text-transform: none;
	font-size: 16px;
	line-height: 1.5;
}

button,
input,
select,
textarea {
	font-family: var(--n-input-font);
}

select {
	display: inline-block;
	max-width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all .25s;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kcm9wZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMjAiPjxwYXRoIGQ9Ik0xOS4zNiw5LDE1LjIsMTMuMTJhLjI4LjI4LDAsMCwxLS40MSwwTDEwLjYzLDlhLjI4LjI4LDAsMCwxLDAtLjQxbC40NS0uNDVBLjI5LjI5LDAsMCwxLDExLjI5LDhhLjMxLjMxLDAsMCwxLC4yMS4wOUwxNSwxMS42MSwxOC41MSw4LjFhLjI4LjI4LDAsMCwxLC40MSwwbC40NS40NWEuMjguMjgsMCwwLDEsMCwuNDFaIi8+PC9zdmc+);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 1.8em 1.2em;
	padding-right: 1.8em !important;
}

p {
	margin-bottom: 1.5em;
}

pre {
	background: rgba(0, 0, 0, 0.05);
	font-family: inherit;
	font-size: inherit;
	line-height: normal;
	margin-bottom: 1.5em;
	padding: 20px;
	overflow: auto;
	max-width: 100%;
}

blockquote {
	border-left: 5px solid rgba(0, 0, 0, 0.05);
	padding: 20px;
	font-size: 1.2em;
	font-style: italic;
	margin: 0 0 1.5em;
	position: relative;
}

table td p,
blockquote p:last-child {
	margin: 0;
}

table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.5em;
	width: 100%;
}

th,
td {
	padding: 10px;
}

th {
	border-width: 0 1px 1px 0;
}

td {
	border-width: 0 1px 1px 0;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 30px;
	margin-top: 30px;
}

fieldset {
	padding: 0;
	border: 0;
	min-width: inherit;
}

fieldset legend {
	padding: 0;
	margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1.2;
	margin: 0 0 20px;
	color: var(--n-heading-color);
	font-family: var(--n-heading-font);
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.entry-content h3,
.entry-content h4 {
	font-weight: 600;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted var(--n-base-color);
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small,
.small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

.button-wrap {
	text-align: center;

	.n-button {
		display: inline-block;
		text-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
		color: var(--n-white-color);
		border-radius: 240px;
		background: var(--n-secondary-color);
		box-shadow: 0 34px 50px 0 rgba(7, 63, 67, 0.07);
		font-weight: 600;
		letter-spacing: 0.24px;
		padding: 9px 20px;
		font-size: 12px;

		&:hover {
			background: #b66a0e;
		}

		@include responsive(md) {
			font-size: 14px;
			padding: 11px 24px;
		}
		@include responsive(lg) {
			font-size: 16px;
			padding: 16px 39px;
		}
	}
}
