.fee-wrap {
	background-image: url("../images/fee-bg-2.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 42px;
	padding-top: 50px;
	@include responsive(md) {
		padding-top: 100px;
		padding-bottom: 95px;
	}
	@include responsive(lg) {
		padding-top: 260px;
		padding-bottom: 180px;
	}

	.fee-content {
		padding-bottom: 54.411764705882355%;
		background-image: url("../images/fee-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		.content-wrap {
			position: absolute;
			overflow: hidden;
			top: 6%;
			left: 15.4%;
			width: 70%;
			height: 82%;
			display: block;
			padding: 14px;
			@include responsive(lg) {
				padding: 24px;
			}

			p.title {
				background: linear-gradient(90deg, #F9B800 0%, #FFCB24 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				text-align: center;
				font-size: 10px;
				font-style: normal;
				font-weight: 700;
				letter-spacing: 0.32px;
				margin-bottom: 5px;
				@include media-min(425) {
					font-size: 16px;
				}
				@include responsive(lg) {
					font-size: 25px;
					margin-bottom: 15px;
				}
				@include responsive(xl) {
					font-size: 40px;
					margin-bottom: 40px;
				}
			}

			.content {
				font-size: 8px;
				color: #fff;
				@include media-min(425) {
					font-size: 9px;
				}
				@include responsive(md) {
					font-size: 12px;
				}
				@include responsive(md) {
					ul, ol {
						padding-left: 15px;

						li {
							margin-bottom: 5px;
						}
					}

					ul {
						li {
							list-style-type: disc;
						}
					}

					ol {
						li {
							list-style-type: decimal;
						}
					}
				}

				@include responsive(lg) {
					font-size: 16px;
				}
				@include responsive(xl) {
					font-size: 20px;
					ul, ol {
						padding-left: 40px;
					}
				}

				p {
					margin-bottom: 5px;
					@include responsive(lg) {
						margin-bottom: 15px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
