:host, :root {
	--n-base-font: 'Inter', sans-serif;
	--n-heading-font: 'Inter', sans-serif;
	--n-input-font: 'Inter', sans-serif;
	--n-primary-color: #102F32;
	--n-secondary-color: #F18D15;
	--n-success-color: #198754;
	--n-info-color: #0dcaf0;
	--n-warning-color: #ffc107;
	--n-link-color: #0d6efd;
	--n-link-hover-color: #0a58ca;
	--n-base-color: #282828;
	--n-title-color: #222222;
	--n-meta-color: #4b4545;
	--n-heading-color: #102F32;
	--n-white-color: #fff;
	--n-black-color: #000;
	--n-contrast-color: #fff;
	--n--dark-blue: #142E53;
}
